USE [master]
GO
/****** Objeto: Database [FGF-BDD] Fecha de script: 4/10/2026 22:56:28 ******/
CREATE DATABASE [FGF-BDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FGF-BDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FGF-BDD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FGF-BDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FGF-BDD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FGF-BDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FGF-BDD]
GO
/****** Objeto: Table [dbo].[DigitoVerificador] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[NombreTabla] [nvarchar](50) NOT NULL,
	[DigitoVertical] [nvarchar](max) NOT NULL,
	[CantidadRegistros] [int] NULL,
 CONSTRAINT [PK_DigitoVerificador] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Etiqueta] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[IdEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[Formulario] [varchar](100) NOT NULL,
	[ControlId] [varchar](100) NOT NULL,
	[DV_Horizontal] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Evento] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[id_Evento] [int] IDENTITY(1,1) NOT NULL,
	[dni] [nvarchar](8) NOT NULL,
	[fechaHora] [datetime] NOT NULL,
	[modulo] [nvarchar](20) NOT NULL,
	[evento] [nvarchar](20) NOT NULL,
	[criticidad] [int] NOT NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[id_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[id_familia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FamiliaFamilia] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaFamilia](
	[id_familia_padre] [int] NOT NULL,
	[id_familia_hija] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaFamilia] PRIMARY KEY CLUSTERED 
(
	[id_familia_padre] ASC,
	[id_familia_hija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FamiliaPermiso] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPermiso](
	[id_familia] [int] NOT NULL,
	[id_permiso] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaPermiso] PRIMARY KEY CLUSTERED 
(
	[id_familia] ASC,
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DV_Horizontal] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Mascota] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascota](
	[id_mascota] [int] IDENTITY(1,1) NOT NULL,
	[dni] [nvarchar](8) NOT NULL,
	[nombre] [nvarchar](20) NOT NULL,
	[especie] [nvarchar](20) NOT NULL,
	[raza] [nvarchar](20) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[DV_Horizontal] [varchar](max) NULL,
 CONSTRAINT [PK_Mascota] PRIMARY KEY CLUSTERED 
(
	[id_mascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[id_permiso] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolFamilia] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFamilia](
	[id_rol] [int] NOT NULL,
	[id_familia] [int] NOT NULL,
 CONSTRAINT [PK_RolFamilia] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC,
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolPermiso] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPermiso](
	[id_rol] [int] NOT NULL,
	[id_permiso] [int] NOT NULL,
 CONSTRAINT [PK_RolPermiso] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC,
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Traduccion] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[IdTraduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[IdEtiqueta] [int] NOT NULL,
	[Texto] [nvarchar](max) NOT NULL,
	[DV_Horizontal] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTraduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 4/10/2026 22:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[dni] [nvarchar](8) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[apellido] [nvarchar](max) NOT NULL,
	[usuario] [nvarchar](max) NOT NULL,
	[contraseña] [nvarchar](max) NOT NULL,
	[intento] [int] NOT NULL,
	[bloqueado] [bit] NOT NULL,
	[mail] [nvarchar](max) NOT NULL,
	[rol_viejo] [nvarchar](50) NULL,
	[idioma] [nvarchar](10) NULL,
	[DV_Horizontal] [varchar](max) NULL,
	[rol] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DigitoVerificador] ([NombreTabla], [DigitoVertical], [CantidadRegistros]) VALUES (N'Etiqueta', N'0A521BE90B7E05216D02AAE76B804EACBC874D128B2BBBBF9FC38C7C333B154E6FD', 337)
INSERT [dbo].[DigitoVerificador] ([NombreTabla], [DigitoVertical], [CantidadRegistros]) VALUES (N'Idioma', N'19D2A3FF7C91EBD6E7C8F699307D7DB64079D49A10C24556138E48CF13A9CFA11', 2)
INSERT [dbo].[DigitoVerificador] ([NombreTabla], [DigitoVertical], [CantidadRegistros]) VALUES (N'Mascota', N'4B17DC762FB6F39B61CCE86D33F4F9A30D7044738E35CA2D45F131D2AC3E28AE', 1)
GO
SET IDENTITY_INSERT [dbo].[Etiqueta] ON 

INSERT [dbo].[Etiqueta] ([IdEtiqueta], [Formulario], [ControlId], [DV_Horizontal]) VALUES (1, N'Login.aspx', N'lblTituloLogin', N'2DD93D3EFF8126B043CE625C3A491D19E898D52C6D45257E71D8580B0426D905')
INSERT [dbo].[Etiqueta] ([IdEtiqueta], [Formulario], [ControlId], [DV_Horizontal]) VALUES (2, N'Login.aspx', N'UserName', N'37E4DD98BEBF4927711D98B8CD95D02C54EFF2BEB5826891CF0915D6FD2B8987')
INSERT [dbo].[Etiqueta] ([IdEtiqueta], [Formulario], [ControlId], [DV_Horizontal]) VALUES (3, N'Login.aspx', N'rfvUserName', N'236BF7BB89C15C7F0DE2D8E705BFF4835BCD430357D91DD47EDAD5ECEC4F446A')
GO
SET IDENTITY_INSERT [dbo].[Etiqueta] OFF
GO
SET IDENTITY_INSERT [dbo].[Evento] ON 

INSERT [dbo].[Evento] ([id_Evento], [dni], [fechaHora], [modulo], [evento], [criticidad]) VALUES (1, N'46030516', CAST(N'2026-06-20T15:52:34.960' AS DateTime), N'Usuarios', N'Registrar Usuario', 4)
INSERT [dbo].[Evento] ([id_Evento], [dni], [fechaHora], [modulo], [evento], [criticidad]) VALUES (2, N'46030516', CAST(N'2026-06-20T15:53:04.697' AS DateTime), N'Usuarios', N'Iniciar Sesión', 5)
INSERT [dbo].[Evento] ([id_Evento], [dni], [fechaHora], [modulo], [evento], [criticidad]) VALUES (3, N'46030516', CAST(N'2026-07-06T15:19:10.537' AS DateTime), N'Usuarios', N'Iniciar Sesión', 5)
GO
SET IDENTITY_INSERT [dbo].[Evento] OFF
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([id_familia], [nombre], [descripcion]) VALUES (1, N'Admin', NULL)
INSERT [dbo].[Familia] ([id_familia], [nombre], [descripcion]) VALUES (2, N'Usuario', NULL)
INSERT [dbo].[Familia] ([id_familia], [nombre], [descripcion]) VALUES (3, N'Web Master', NULL)
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[FamiliaFamilia] ([id_familia_padre], [id_familia_hija]) VALUES (1, 2)
INSERT [dbo].[FamiliaFamilia] ([id_familia_padre], [id_familia_hija]) VALUES (3, 2)
INSERT [dbo].[FamiliaFamilia] ([id_familia_padre], [id_familia_hija]) VALUES (4, 2)
GO
INSERT [dbo].[FamiliaPermiso] ([id_familia], [id_permiso]) VALUES (1, 1)
INSERT [dbo].[FamiliaPermiso] ([id_familia], [id_permiso]) VALUES (1, 2)
INSERT [dbo].[FamiliaPermiso] ([id_familia], [id_permiso]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([IdIdioma], [Codigo], [Nombre], [DV_Horizontal]) VALUES (1, N'es-AR', N'Español', N'0B9CB46F5F750616BABC3F12131597476FBE0BF14DEAFFF751BC644ED8067BCE6')
INSERT [dbo].[Idioma] ([IdIdioma], [Codigo], [Nombre], [DV_Horizontal]) VALUES (2, N'en-US', N'English', N'702F2AD8F4BB4F1324A5DE7E7A5EC0F250A3275C4FAEA53E1DE077E683A6F278')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Mascota] ON 

INSERT [dbo].[Mascota] ([id_mascota], [dni], [nombre], [especie], [raza], [fechaNacimiento], [DV_Horizontal]) VALUES (5, N'46208842', N'Tobias', N'Perro', N'Scottish Terrier', CAST(N'2015-03-14' AS Date), N'0911521C43F2A2F16C09F41C6F9ED3D8811BF63A0B7C731C1C8A1D789B45EA937')
SET IDENTITY_INSERT [dbo].[Mascota] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([id_permiso], [nombre], [descripcion]) VALUES (1, N'UsuarioGestionar', N'Gestionar usuarios')
INSERT [dbo].[Permiso] ([id_permiso], [nombre], [descripcion]) VALUES (2, N'FamiliaGestionar', N'Gestionar familias')
INSERT [dbo].[Permiso] ([id_permiso], [nombre], [descripcion]) VALUES (3, N'PerfilGestionar', N'Gestionar perfiles (roles)')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id_rol], [nombre], [descripcion]) VALUES (1, N'Admin', N'Acceso total al sistema')
INSERT [dbo].[Rol] ([id_rol], [nombre], [descripcion]) VALUES (2, N'Cliente', N'Usuario cliente registrado')
INSERT [dbo].[Rol] ([id_rol], [nombre], [descripcion]) VALUES (3, N'Web Master', N'Administracion tecnica')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
INSERT [dbo].[RolFamilia] ([id_rol], [id_familia]) VALUES (1, 1)
INSERT [dbo].[RolFamilia] ([id_rol], [id_familia]) VALUES (2, 4)
INSERT [dbo].[RolFamilia] ([id_rol], [id_familia]) VALUES (3, 3)
GO
INSERT [dbo].[RolPermiso] ([id_rol], [id_permiso]) VALUES (3, 9)
GO
SET IDENTITY_INSERT [dbo].[Traduccion] ON 

INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [IdEtiqueta], [Texto], [DV_Horizontal]) VALUES (1, 1, 7, N'Iniciar sesión', N'098CA927DB18503F668174CCFA6D0C4DA0AD2DE5B7B811AE819E4A99685269120')
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [IdEtiqueta], [Texto], [DV_Horizontal]) VALUES (2, 1, 6, N'Recordar cuenta', N'6B23D82E02A0F2B598A2D041BE8DAAB8FCD588A7E558E5DA79DEB669E8BD3C78')
INSERT [dbo].[Traduccion] ([IdTraduccion], [IdIdioma], [IdEtiqueta], [Texto], [DV_Horizontal]) VALUES (3, 1, 1, N'¡Bienvenido!', N'09493735794A8E32243EE188AD640C55CDB558CBDB59C25FD07E547117264B73C')
GO
SET IDENTITY_INSERT [dbo].[Traduccion] OFF
GO
INSERT [dbo].[Usuario] ([dni], [nombre], [apellido], [usuario], [contraseña], [intento], [bloqueado], [mail], [rol_viejo], [idioma], [DV_Horizontal], [rol]) VALUES (N'12345678', N'J7rXjkPaH9E0P51XCFcqJg==', N'CLcn0skFWVvmDz7kfzVJFw==', N'J7rXjkPaH9E0P51XCFcqJg==', N'59adce8f418147ce4a0006eae33755e2229f522de79d4d372df4512a792b6b32', 0, 0, N'gscpyuW/hmCLuuHHwHiIljmIM0u5jlkE81jfmQHqjO8=', N'Cliente', N'es-AR', N'0C4E932038C458C3DED834B6019E805C94B7046D17D94B19D0B3D1A0C71339EF0', 2)
INSERT [dbo].[Usuario] ([dni], [nombre], [apellido], [usuario], [contraseña], [intento], [bloqueado], [mail], [rol_viejo], [idioma], [DV_Horizontal], [rol]) VALUES (N'45823327', N'f9bRhwRJjrQFaseJ5/cn9w==', N'uox8FY5Ig4ydj+vh0KnKZA==', N'oNBZjp19NEZIBBeQ1Z1vog==', N'91c214f1a754f35b3195a85a89db40ad9b7123efc6843c6fbe49ea412c8b8cbd', 0, 0, N'gW5OA9w7A59LTOugGH4zGRkrb6ArUghGEkjmL4z5qVI=', N'Web Master', N'en-US', N'781213AA263608F5903AFF2752E89F77DADD361403706C2C4A43461D8760DDB2', 3)
INSERT [dbo].[Usuario] ([dni], [nombre], [apellido], [usuario], [contraseña], [intento], [bloqueado], [mail], [rol_viejo], [idioma], [DV_Horizontal], [rol]) VALUES (N'46030516', N'hyQxewN5YVD/aMhdhxKAzQ==', N'8D1gdOjb1nlc02BcDw98Lg==', N'2pLWMqGcuFCeG93WyQppNQ==', N'b678d4758e2e820ea88498aa7a2d45bbbd11f5d2a1f05bde9c44fc88de8f7652', 0, 0, N'V4MTOzhvs8mnNSuZbNFxO9AtLHCmZctvMK20+FM5jbg=', N'Admin', N'en-US', N'0E8D220A714A677022777D9E887B6200BAFF94CB39D4134D49CF99A23D893FD8A', 1)
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Formulario_Control] Fecha de script: 4/10/2026 22:56:28 ******/
ALTER TABLE [dbo].[Etiqueta] ADD  CONSTRAINT [UQ_Formulario_Control] UNIQUE NONCLUSTERED 
(
	[Formulario] ASC,
	[ControlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Familia_nombre] Fecha de script: 4/10/2026 22:56:28 ******/
ALTER TABLE [dbo].[Familia] ADD  CONSTRAINT [UQ_Familia_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Idioma__06370DAC13DF4E25] Fecha de script: 4/10/2026 22:56:28 ******/
ALTER TABLE [dbo].[Idioma] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Permiso_nombre] Fecha de script: 4/10/2026 22:56:28 ******/
ALTER TABLE [dbo].[Permiso] ADD  CONSTRAINT [UQ_Permiso_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Rol_nombre] Fecha de script: 4/10/2026 22:56:28 ******/
ALTER TABLE [dbo].[Rol] ADD  CONSTRAINT [UQ_Rol_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Idioma_Etiqueta] Fecha de script: 4/10/2026 22:56:28 ******/
ALTER TABLE [dbo].[Traduccion] ADD  CONSTRAINT [UQ_Idioma_Etiqueta] UNIQUE NONCLUSTERED 
(
	[IdIdioma] ASC,
	[IdEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DFUsuariointento4AB81AF0]  DEFAULT ((0)) FOR [intento]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DFUsuariobloquea4BAC3F29]  DEFAULT ((0)) FOR [bloqueado]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_idioma]  DEFAULT ('es-AR') FOR [idioma]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Evento] FOREIGN KEY([id_Evento])
REFERENCES [dbo].[Evento] ([id_Evento])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Evento]
GO
ALTER TABLE [dbo].[FamiliaFamilia]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaFamilia_Hija] FOREIGN KEY([id_familia_hija])
REFERENCES [dbo].[Familia] ([id_familia])
GO
ALTER TABLE [dbo].[FamiliaFamilia] CHECK CONSTRAINT [FK_FamiliaFamilia_Hija]
GO
ALTER TABLE [dbo].[FamiliaFamilia]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaFamilia_Padre] FOREIGN KEY([id_familia_padre])
REFERENCES [dbo].[Familia] ([id_familia])
GO
ALTER TABLE [dbo].[FamiliaFamilia] CHECK CONSTRAINT [FK_FamiliaFamilia_Padre]
GO
ALTER TABLE [dbo].[FamiliaPermiso]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPermiso_Familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[Familia] ([id_familia])
GO
ALTER TABLE [dbo].[FamiliaPermiso] CHECK CONSTRAINT [FK_FamiliaPermiso_Familia]
GO
ALTER TABLE [dbo].[FamiliaPermiso]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPermiso_Permiso] FOREIGN KEY([id_permiso])
REFERENCES [dbo].[Permiso] ([id_permiso])
GO
ALTER TABLE [dbo].[FamiliaPermiso] CHECK CONSTRAINT [FK_FamiliaPermiso_Permiso]
GO
ALTER TABLE [dbo].[Mascota]  WITH CHECK ADD  CONSTRAINT [FK_Mascota_Usuario] FOREIGN KEY([dni])
REFERENCES [dbo].[Usuario] ([dni])
GO
ALTER TABLE [dbo].[Mascota] CHECK CONSTRAINT [FK_Mascota_Usuario]
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[Familia] ([id_familia])
GO
ALTER TABLE [dbo].[RolFamilia] CHECK CONSTRAINT [FK_RolFamilia_Familia]
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[RolFamilia] CHECK CONSTRAINT [FK_RolFamilia_Rol]
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD  CONSTRAINT [FK_RolPermiso_Permiso] FOREIGN KEY([id_permiso])
REFERENCES [dbo].[Permiso] ([id_permiso])
GO
ALTER TABLE [dbo].[RolPermiso] CHECK CONSTRAINT [FK_RolPermiso_Permiso]
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD  CONSTRAINT [FK_RolPermiso_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[RolPermiso] CHECK CONSTRAINT [FK_RolPermiso_Rol]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdEtiqueta])
REFERENCES [dbo].[Etiqueta] ([IdEtiqueta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([IdIdioma])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
USE [master]
GO
